.container{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content:space-around;
  margin-top:15px;
  align-items:center;
}
#firstbio{
    padding:10px;
}
footer{
  background-color:black;
  color:white;
  height:40px;
}
.portImg{
    max-height:400px;
    margin:auto;
}
.textBox{
    margin:auto;
    z-index:1;
}
.center{
width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#welcomeImg{
    height: 150px;
    width:100%;
    padding:0;
}
.instructions{
  padding-top:40px;
}
#welcomeTxt{
    padding:10px;
    background-color:black;
    border-radius:50px;
    font-size:50px;
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#projectImg{
  object-fit:cover;
  margin:auto;
}
#welcome{
    -webkit-animation: myfirst 7s ; 
    /* Chrome, Safari, Opera */
    animation: myfirst 7s ;
    padding-top:100px;
  }
  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }
  /* Standard syntax */
  @keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }
  #portfolio{
    padding:20px;
  }
